.vinyl {
  
    transition: transform 0.5s ease;
    animation: spin 20s linear infinite;
    animation-play-state: var(--playState, running);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.vinyl.paused {
    animation-play-state: paused;

    transform: rotate(-5deg);
    transition: transform 0.3s ease;
}


.music-player {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}


    .vinyl:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
